@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e5e5e5;
}

.container {
  width: 100%;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.center__element {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.topbar {
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 12px #0000000d;
  background: #ffffff;

  .topbar__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .active__user {
      color: #3e4c59;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 14px;

      .avatar {
        background: #9aa5b14d;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: 5px;
        font-size: 18px;
      }
    }
  }
}

.main {
  margin: 60px 0px;
  display: flex;

  .sidebar {
    width: 240px;
    color: #3e4c59;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;

    ul li {
      padding: 20px;
      border-radius: 3px;
      cursor: pointer;

      &:first-child {
        background: #e6ecf5;
        color: #000;
      }
    }
  }
}

.addWallet {
  padding: 40px 20px;

  .addAccount__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      font-weight: bold;
      font-size: 18px;
    }
  }

  .desc {
    margin: 30px 0px;
  }

  .select-field {
    display: flex;
    flex-direction: column;

    label {
      padding-bottom: 10px;
    }

    select {
      padding: 10px;
      outline: none;
    }

    .error__msg {
      color: crimson;
      padding: 5px 0px;
      font-size: small;
    }
  }

  .button {
    width: fit-content;
    margin: 20px auto;

    button {
      background: #000;
      color: #fff;
      padding: 15px 40px;
      border: none;
      outline: none;
      font-size: 16px;
      text-align: center;
      border-radius: 40px;
      cursor: pointer;
    }
  }
}

.main__content {
  margin-left: 40px;
  width: 100%;

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 30px;
    }

    .heading__cta {
      cursor: pointer;
      font-size: 14px;
      font-weight: 500px;
    }
  }

  hr {
    margin-top: 20px;
    border: 1px solid #d3d5d880;
  }

  .network__error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .error__desc {
      margin: 10px 0px;

      button {
        margin: 30px 0px;
        padding: 10px 40px;
        border-radius: 40px;
        border: none;
        outline: none;
        background: #000;
        color: #fff;
        font-size: bold;
        cursor: pointer;
      }
    }
  }

  .content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0px;

    .account {
      height: 150px;
      width: 280px;
      padding: 15px 20px;
      margin: 0px 60px 40px 0px;
      box-shadow: 0px 10px 20px #8a8a8a80;
      border-radius: 10px;
      color: #ffffff;
      background: url('./assets/images/abs1.png') bottom left no-repeat,
        url('./assets/images/abs2.png') bottom right no-repeat, #111111;

      .currency {
        display: flex;
        align-items: center;

        .currency__img {
          position: relative;
          width: 10%;
          height: 30px;

          img {
            position: absolute;
            width: 100%;
            height: 100%;
          }
        }

        h4 {
          margin-left: 10px;
        }
      }
      .balance {
        font-weight: bold;
        margin-top: 15px;
      }
      .account__cta {
        position: relative;
        top: 20px;
        left: 5px;
        cursor: pointer;
        width: fit-content;
        margin-left: auto;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .topbar {
    padding: 0px 20px;
  }
}

@media (min-width: 640px) {
  .topbar {
    padding: 0px 20px;
  }
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
