@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.topbar {
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 12px #0000000d;

  .topbar__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .active__user {
      color: #3e4c59;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 14px;

      .avatar {
        background: #9aa5b14d;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: 5px;
        font-size: 18px;
      }
    }
  }
}
@media screen and (max-width: 640px) {
  .topbar {
    padding: 0px 20px;
  }
}

@media (min-width: 640px) {
  .topbar {
    padding: 0px 20px;
  }
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
